.container{
    padding: 0rem 1rem;
}
Form{
    padding: 1rem 2rem;
    background-color: rgb(243, 238, 223);
}

Form .grp{
    margin: .5rem 0rem;
}

.FormText{
    background-color: rgb(255, 255, 255);
    padding: .5rem;
}
Label{
    font-size: 1rem;
    font-weight: 600;
    margin: .5rem;
}

.btn{
    margin-top: 1rem;
}
